{% extends 'aboutus/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
{% block content %}
  <p>Welcome to IndianGrocery.US, the most "customer focused and loved" Online Indian Grocery site serving USA.</p>
  <p>IndianGrocery.US is the most convenient way to shop for Indian groceries with free delivery (on orders over $65) and no membership fees. IndianGrocery.US - making your every day shopping experience amazing!</p>

  <h4>Why shop with to IndianGrocery.US?</h4>
  <ol>
    <li>Save money, time and gas : Did you know an average gas-guzzling trip to the local store takes over 90 minutes? Shop at your comfort not when stores are open. Avoid rush hour traffic.</li>
    <li>Enjoy free, fast delivery on orders over $35: Enjoy free delivery on all orders over $35. Orders arrive within 2-4 business days.</li>
    <li>No membership fees: No membership or hidden fees. Our prices are better than the local stores in your neighborhood.</li>
    <li>Earn rewards on every order: For every $1 you spend at IndianGrocery.US, you’ll earn 1 Rewards point. Refer friends to gain more rewards.</li>
  </ol>
  </p>
{% endblock %}
</body>
</html>
