
{% load staticfiles %}
          <!-- Footer -->
          <footer class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 text-center g-pt-60 g-pb-40">
            <!-- Footer Content -->
            <div class="container">
              <div class="g-width-70x--md mx-auto">
                <p class="mb-0">Welcome to the most "customer focused and loved" Online Indian Grocery site serving USA.</p>
              </div>
            </div>
            <!-- End Footer Content -->

            <hr class="g-brd-white-opacity-0_2 g-my-40">

            <!-- Footer Content -->
            <div class="container">
              <div class="row">
                <!-- Footer Content -->
                <div class="col-sm-6 col-lg g-mb-30 g-mb-0--lg">
                  <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">About Us</h2>
                  <ul class="list-unstyled mb-0">
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="/aboutus">Our Story</a>
                    </li>
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="/aboutus">Our Mission</a>
                    </li>
                  </ul>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-sm-6 col-lg g-mb-30 g-mb-0--lg">
                  <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">Customer Support</h2>
                  <ul class="list-unstyled mb-0">
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="mailto:support@bazaarprime.com">Email Customer Support</a>
                    </li>
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="mailto:bazaarprime@gmail.com">Vendor/Supplier/Seller Support</a>
                    </li>
                  </ul>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-sm-6 col-lg">
                  <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">Top Links</h2>
                  <ul class="list-unstyled mb-0">
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="/shop">Shop</a>
                    </li>
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="/track_order">Track Orders</a>
                    </li>
                  </ul>
                </div>
                <!-- End Footer Content -->

                <!-- Footer Content -->
                <div class="col-sm-6 col-lg">
                  <h2 class="h6 g-color-white text-uppercase g-font-weight-600 g-mb-20">Useful Links</h2>
                  <ul class="list-unstyled mb-0">
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="#">Shipping Rates</a>
                    </li>
                    <li class="g-mb-8">
                      <a class="g-color-white-opacity-0_8" href="#">Return/Exchange Policy</a>
                    </li>
                  </ul>
                </div>
                <!-- End Footer Content -->
              </div>
            </div>
            <!-- End Footer Content -->

            <hr class="g-brd-white-opacity-0_2 g-my-40">

            <!-- Copyright -->
            <div class="container">
              <small class="g-font-size-default">2017 All right reserved. 
                <a class="g-color-white" href="#">IndianGrocery.us</a></small>
            </div>
            <!-- End Copyright -->
          </footer>
          <!-- End Footer -->
        
