<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#beverages" aria-expanded="true">Beverages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#condiments" aria-expanded="false">Condiments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#grainsflour" aria-expanded="false">Grains & Flour</a>
  </li>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#instantssnacks" aria-expanded="false">Instants & Snacks</a>
  <li class="nav-item dropdown">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#organics" aria-expanded="false">Organics</a>
  <li class="nav-item dropdown">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#spices" aria-expanded="false">Spices</a>
  <li class="nav-item dropdown">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#personalcare" aria-expanded="false">PersonalCare</a>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Spiritual</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Sale</a>
    </div>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  {% include 'shop/product_listing.html' %}
</div>
